body.active {
    background-color: #4a4a4a; /* Fondo gris oscuro */
    color: white;
}

.about-left.active {
    background-color: #1e3d7c; /* Azul para modo oscuro */
}

.about-right.active {
    background-color: #4a4a4a;
    color: white;
}

.project-card.active {
    background-color: #774482; /* Color #774482 en modo oscuro */
}

/* Botón de modo oscuro activo */
.toggle-button.active .indicator {
    content: '☀️'; /* Cambiar icono a sol */
}
